<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">

        <h1>Criar Formulário</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Exibe o formulário com o campo de input para o nome e a data -->
    
    <h2>Checklist</h2>
    <ul>
        {% for item in checklist_itens %}
            <li>
                <input type="checkbox" name="item_{{ item.id }}" id="item_{{ item.id }}">
                <label for="item_{{ item.id }}">{{ item.descricao }}</label>
            </li>
        {% endfor %}
    </ul>
    
    <button type="submit">Salvar</button>
</form>
    
</body>
</html>